---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, stay a while and listen</h1>
			<p>
				Welcome to my official blog site and first blog post. As you will find out, I tend to mess with things and just butcher it up. Today I am figuring out
				how to use Astro, and will probably break a few things along the way. Excuse me if this turns into a giant mess, but everyone starts somewhere. This will be how I start.
			</p>
		</main>
		<Footer />
	</body>
</html>
